<h1 class="feed-h1">Friends' Expenses</h1>
<div class="well clearfix feed-well col-lg-5">
<div class="feed">
  <% @user.get_friend_expenses.each do |expense| %><br>
  <div class="feed-item">
    <%= hidden_field_tag("expense[created_at]", expense.created_at, class: "created-at")%>
    <strong><%= expense.user.name %></strong> &#8212;
    <%= number_to_currency(expense.amount.to_f/100) %> &#8212;
    <strong><span style="color:<%= expense.category.get_color %>;"><%= expense.category.title %></span></strong>
    <div id="vote-button"> 
      <button type="button" class="upvote btn btn-xs btn-success" data-expense-id="<%= expense.id %>">
        <span class="glyphicon glyphicon-arrow-up"><span id="upvotecountspan<%=expense.id%>"><%= expense.votes.where(:vote_direction => true).count %></span></span>
      </button>
      <button type="button" class="downvote btn btn-xs btn-danger" data-expense-id="<%= expense.id %>">
        <span class="glyphicon glyphicon-arrow-down"><span id="downvotecountspan<%=expense.id%>"><%= expense.votes.where(:vote_direction => false).count %></span></span>
      </button>
    </div>
    <div class="feed-item-separator"></div>
  </div>
  <% end %>
</div>
</div>
<div class="well clearfix col-lg-6 col-lg-offset-1">
  <h1>Pending Friend Requests</h1>
  <% if !@user.pending_friendship_requests.any? %>
    <em><p>You don't have any pending friend requests.</p></em>
    <%= link_to "Find Your Friends!", add_friends_path, class: "btn btn-lg btn-info" %>
  <% end %>
  <% @user.pending_friendship_requests.each do |request| %>
    <%= request.friend.name %>
    <%= form_tag('/accept-friendship', method: :post) do %>
      <%= hidden_field_tag 'friendship[id]', request.id %>
      <%= submit_tag "accept" %>
    <% end %>
  <% end %>

  <h1>Friends</h1>
  <ul>
    <% @user.confirmed_friends.each do |friend| %>
      <li><%= friend.name %></li>
    <% end %>
  </ul>
</div>