<%= @user.name %><br>
<%= @user.email %><br>
<% if !@user.expenses.empty? %>
  <ul>
    <% @user.expenses.each do |expense| %>
      <li><%= number_to_currency(expense.amount.to_f/100) %> - <%= expense.category.title %></li>
    <% end %>
  </ul>
<% end %>
<br>
<h1>Friends</h1>
<% @user.confirmed_friends.each do |friend| %>
  <%= friend.name %>
<% end %>

<h1>Pending Friend Requests</h1>
<% @user.pending_friendship_requests.each do |request| %>
  <%= request.friend.name %>
  <%= form_tag('/accept-friendship', method: :post) do %>
    <%= hidden_field_tag 'friendship[id]', request.id %>
    <%= submit_tag "accept" %>
  <% end %>
<% end %>

<%= link_to "add new expense", new_expense_path %>
<%= link_to "sign out", sign_out_path, method: :delete %>
<%= link_to "add friends", add_friends_path(@user) %>