<div class="well clearfix weekly-expenses-well">
  <% if !@user.last_week_expenses.empty? %>
    <div class="friend-average-weekly-expense-display col-lg-3">
    </div>
    <div class="weekly-expense-chart col-lg-6">
      <h1>Your Weekly Expenses</h1>
      <h4><em><%= Chronic.parse('one week ago').strftime('%B %d, %Y') %> - <%= time_tag Date.today %></em></h4>
      <canvas id="donut-landing-chart" width="400" height="400"></canvas>
    </div>
    <table class="user-weekly-expenses">
      <tr class="user-weekly-expenses">
        <th class="color-swatch"></th>
        <th class="weekly-expenses-title-th">Category</th>
        <th>Total</th>
      </tr>
      <% @user.last_week_expenses_categories.each do |category| %>
        <tr class="weekly-expenses-tr">
          <td class="color-swatch" style="background-color:<%= category.get_color %>;"></td>
          <td class="weekly-expenses-title-td"><%= category.title %></td>
          <td class="weekly-expenses-amount-td"><%= number_to_currency(@user.last_week_expenses_sum_for(category.title).to_f/100) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="no-weekly-expenses col-lg-6 col-lg-offset-3">
      <h1 style="text-align:center;">It looks like you haven't added any expenses in the past week</h1>
      <%= link_to "Add Some Now!", new_expense_path, class: "btn btn-xlg btn-info btn-block btn-tall" %>
    </div>
  <% end %>
</div>

<div class="well clearfix social-data-well">
  <% if !@user.last_week_expenses.empty? %>
    <div class="popularity-chart col-lg-6 col-lg-offset-1">
      <div class="popularity-text col-lg-12 col-lg-offset-4">
        <h1>Expense Popularity</h1>
        <h4><em><%= Chronic.parse('one week ago').strftime('%B %d, %Y') %> - <%= time_tag Date.today %></em></h4>
      </div>
      <canvas id="popularity-landing-chart" width="850" height="500"></canvas>
    </div>
  <% else %>
    SOMETHING ELSE WILL GO HERE
  <% end %>
</div>